## tuples

### it is collection of different data types separated by camas and endclosed with paranthasis
### it can't be changed

In [5]:
a=(1,2,3,4,5,6,"hill","kvsw")
type(a)

tuple

In [6]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [7]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [8]:
a.count("hill")

1

In [9]:
t=(2,4,5,6,7,"hi","hello","hru")
tuple(t)

(2, 4, 5, 6, 7, 'hi', 'hello', 'hru')

In [14]:
t.count(6)

1

In [16]:
t.index(5)

2

In [17]:
t*2

(2, 4, 5, 6, 7, 'hi', 'hello', 'hru', 2, 4, 5, 6, 7, 'hi', 'hello', 'hru')

In [20]:
print(a+t)

(1, 2, 3, 4, 5, 6, 'hill', 'kvsw', 2, 4, 5, 6, 7, 'hi', 'hello', 'hru')

# set

In [21]:
# it is a collection of elements separated by camas and end closed with flower brackets{}
# elements are in ordered

In [22]:
se={1,2,3,4,5,6,7,1}
type(se)

set

In [23]:
se

{1, 2, 3, 4, 5}

In [24]:
s={"mango","apple","grapes"}
type(s)

set

In [27]:
print(type(s))
s

<class 'set'>

{'apple', 'grapes', 'mango'}

In [28]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [29]:
se

{1, 2, 3, 4, 5}

In [30]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [32]:
se.add(23)
se

{1, 2, 3, 4, 5, 23}

In [34]:
se.clear()
se

set()

In [48]:
set1={3,4,5,6,7}
set1

{3, 4, 5, 6, 7}

In [50]:
setcopy=s1.copy()
print(setcopy)
print(set1)

NameError: name 's1' is not defined

In [44]:
x={1,2,4,5,7,8}
y={9,10,34,23,45}
z=x.difference(y)
z1=y.difference(x)
print(z)
print(z1)

{1, 2, 4, 5, 7, 8}
{34, 9, 10, 45, 23}

In [52]:
print(x.isdisjoint(y))
print(y.isdisjoint(x))

True
True

In [54]:
# union
print(x.union(y))

{1, 2, 34, 4, 5, 7, 8, 9, 10, 45, 23}

In [55]:
print(x.intersection(y))

set()

In [56]:
print(x.issubset(y))

False

In [57]:
s_t={3,4,5,6}
for kvsw in s_t:
    print(kvsw,end=" ")

3 4 5 6

In [58]:
updated_set=y.update(x)
print(updated_set)

None

In [59]:
y

{1, 2, 4, 5, 7, 8, 9, 10, 23, 34, 45}

In [61]:
help(set.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [64]:
z=x.symmetric_difference(y)
z

{9, 10, 23, 34, 45}

In [65]:
x

{1, 2, 4, 5, 7, 8}

In [66]:
y

{1, 2, 4, 5, 7, 8, 9, 10, 23, 34, 45}

In [69]:
x.pop()
x

{2, 4, 5, 7, 8}

In [70]:
y.remove(34)
y

{1, 2, 4, 5, 7, 8, 9, 10, 23, 45}

In [72]:
y.discard(7)
y

{1, 2, 4, 5, 8, 9, 10, 23, 45}

In [2]:
l=[9,9,10,5,4]
print(type(l),l)
x=set(l)
print(type(x),x)

<class 'list'> [9, 9, 10, 5, 4]
<class 'set'> {9, 10, 4, 5}

In [1]:
# user input 5 6 7 8 8 5
#output 5 6 7 8
x=(" 5 6 7 8 8 9")
s=list(set(map(int,input().split())))
print(s)

5 6 7 8 8 9
[5, 6, 7, 8, 9]