# Day objectives
## markdown system
### python basics

#### cheking bold

##### italic data

###### text bold and italic

* text

> title

## python basics

## find the python

In [4]:
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

## print hello world

In [5]:
print("hello world!")

hello world!

In [11]:
print("kvsw aswini")
print("kvsw"+" harshitha")
x="vbkmk"
print(x)

kvsw aswini
kvsw harshitha
vbkmk

## data type in python
* Int
* Float
* String
* Complex
* List
* Tuples
* set

In [15]:
y=20
print(y)

20

In [16]:
type(y)

int

In [20]:
y="12"
type("y")

str

In [18]:
y=12.5
type(y)

float

## Data type conversion

In [22]:
y=7+6j
type(y)

complex

In [23]:
y=23
type(y)

int

In [28]:
f=float(y)
print(f)
print(type(f))

23.0
<class 'float'>

## Variable Assigning
>1.different data types can be assigned at different variables
>2.same data types can be assigned to a different variables

In [32]:
p,q,r=15,"aswini",55.2
print(p,q,r)
print(type(p))
print(type(q))
print(type(r))
print(type(p),type(q),type(r))

15 aswini 55.2
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'> <class 'str'> <class 'float'>

In [33]:
p=q=r="aswini"
p

'aswini'

In [34]:
q

'aswini'

In [35]:
r

'aswini'

In [36]:
## Arithemetic and logical operations in python

In [41]:
p=20
q=30
print("addition",p+q)
print("substraction",p-q)
print("multiplication",p*q)
print("division",p/q)
print("power",p**q)
print("floor division",p//q)

addition 50
substraction -10
multiplication 600
division 0.6666666666666666
power 1073741824000000000000000000000000000000
floor division 0

## comments in python

In [43]:
'''aswini
harshitha
humera
likitha'''

'aswini\nharshitha\nhumera\nlikitha'